.advertising {
    padding: 45px 0 100px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../resources/img/bg_advertising.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
}