$timesNewRomanFont: 'Times New Roman', serif;
$myriadProFont: 'Myriad Pro', sans-serif;
$openSansFont: 'Open Sans', sans-serif;
$pacificoFont: 'Pacifico', cursive;

// colors
$textColor: #2b2b2b;
$yelowTextColor: #e7a331;
$bodyLightTheme: #f1f1f1;



:root {
    --wrapSize: 1280px;
    --nav-font-size: 17px;
    --main-font-size: 16px;
    --title-font-size-h1: 48px;
    --title-font-size-h2: 36px;
    
    --mobile-menu-size: 85vw;
    --mobile-margin-size: -85vw;

    --main-familia-font: $timesNewRomanFont;
}

